
.message-box {
    margin-bottom: 10px;
  }
  
  .message-info {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .message-sender {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message-text {
    word-wrap: break-word;
  }
  
  .message-time {
    font-size: 0.8rem;
    color: #888;
  }
  
  .message-box.justify-end {
    display: flex;
    justify-content: flex-end;
  }
  
  .message-info.items-end {
    align-items: flex-end;
  }
  